/* Css taisykles kurios galioja nuo 768 ekrano plocio iki 992px */
@media(min-width: 768px) and (max-width: 992px) {
	.header h1 {
		font-size: 30px;
		color: red;
	}

	.header {
		background: white;
		padding: 10px 5px;
	}

	.card {
		max-width: 50%;
	}
}

/* telefonu breakpointas */
@media(max-width: 768px) {
	.card {
		max-width: 100%;
	}
}