/*body {
	background: red;
}*/


.header {
	background: gray;
	color: white;
	text-align: center;
	padding: 20px 10px;
}

.header h1 {
	font-size: 55px;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
}

.card {
	max-width: 33.33%;
	padding: 10px 20px;
	box-sizing: border-box;
}